snippet sfor "Description" 
{% for $1 in $2 %}
$0
{% endfor %}
endsnippet

snippet selse "Description" 
{% else %}
$0
endsnippet

snippet sif "Description" 
{% if $1 %}
$0
{% endif %}
endsnippet

snippet ex "Description" 
{{ $0 }}
endsnippet
