snippet yb "Yan Bo"
yanbo
endsnippet

snippet jm "Justin Moy"
justin.moy
endsnippet

snippet closes "Description" b
Closes $0
endsnippet

snippet test "Description" b
Test Plan:
$0
endsnippet

snippet code "Description" b
\`\`\`
$0
\`\`\`
endsnippet
